.overlay-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  transition: opacity 0.5s ease;
  transition: filter 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.overlay-container:hover::before {
  opacity: 1;
}

.overlay-container:hover {
  box-shadow: 0 4px 20px rgba(144, 204, 226, 0.2); /* White box-shadow on hover */
  
}
/* .overlay-container:hover .bg-blur {
  filter: blur(3px);
} */

.card-content {
  position: relative;
  z-index: 2;
}

.canva-shadow {
  transition: box-shadow 0.3s ease; /* Add transition for smooth shadow effect */
}

.canva-shadow:hover {
  box-shadow: 0 4px 20px rgba(144, 204, 226, 0.2); /* White box-shadow on hover */
}

.icon-container {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-container:hover {
  transform: scale(1.3); /* Adjust the scale value as needed */
}
