.wrapper{
    padding: 10px 10%;
}
#card-area{
    padding: 50px 0;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin:50px;
}

.box{
    border-radius:10px;
    position:relative;
    overflow:hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.box img{
    width:100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s;
}

.card:hover img {
  transform: scale(1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.5s;
    z-index: 10; /* Ensure overlay is above other elements */
  }

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;   
    font-family:bebas neue;
    font-size: 30px;
    letter-spacing: 2px;

}
.overlay p {
  color: white;
  margin: 0;
}
.overlay a{
    margin-top: 10px;
    color : #262626;
    text-decoration: none ;
    font-size:14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
}
.card:hover .overlay {
  height: 100%;
  opacity: 1;
}



.boxLhover img{
    transform: scale(1);
}
.box:hover .overlay{
    height: 100%;
}

/* src/styles/CardSwitcher.css */
.card-switcher {
    text-align: center;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: left;
  }
  
  .ai-card {
    background-color: #f0f8ff; /* Light blue background for AI cards */
  }
  
  .game-card {
    background-color: #f8f0ff; /* Light purple background for Game cards */
  }
  